<div class="container">
    <h1> Add Deal Option </h1>
    
    <% if current_user.role == "admin" %>
        <%= render 'tab_form' %>
    <% else %>
        <%= render 'tab_merchant' %>
    <% end %>
    
</div>